body     
{
     
}
#TextBox1
{
border: 2px solid blue;
width: 220px;
margin:20px;
padding:30px;
color:Blue;    
}

#TextBox2
{
border: 2px solid blue;
width: 220px;
margin:20px;
padding:30px;
color:Blue;    
}

#Button1
{
background:none;
color:#ccc;
width: 100px;
height:30px;
border: 1px solid #338033;
font-size:18px;
border-radius: 4px;
transition:.6s;
overflow:hidden;  
color:Black;   
}

#Button1:focus
{
outline:none;    
}

#Button1:before
{
    content:'';
    display:block;
    position:absolute;
    background:rgba(255,255,255,.5);
    width:100px;
    height:100%;
    left:0;
    opacity:.5s;
    filter:blur(30px);
    transform:translateX(-130px) skewX(-15deg);
    }